<!DOCTYPE html>
<html lang="en-CA" dir="ltr">
    <head>
        <meta charset="utf-8" />

        <!-- website <%- appVersion %> -->

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Grant Heaslip</title>
        <meta name="og:title" content="Grant Heaslip" />
        <meta name="twitter:title" content="Grant Heaslip" />
        <% let metaDescription = 'Web developer, wannabe polymath, and video game nerd living in Toronto, Canada' %>
        <meta name="description" content="<%= metaDescription %>" />
        <meta name="og:description" content="<%= metaDescription %>" />
        <meta name="twitter:description" content="<%= metaDescription %>" />
        <% if (typeof canonicalUrl !== 'undefined') { %>
            <link rel="canonical" href="<%= canonicalUrl %>" />
            <meta name="og:url" content="<%= canonicalUrl %>" />
        <% } %>
        <meta property="og:type" content="website" />
        <meta name="author" content="Grant Heaslip" />
        <meta name="twitter:card" content="summary" />

        <link rel="stylesheet" type="text/css" media="screen" href="<%- static('css/modules.css') %>" />

        <!--[if lt IE 9]>
            <script src="<%- static('js/html5shiv.min.js') %>"></script>
        <![endif]-->

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="<%- static('favicons/apple-touch-icon-180x180.png') %>" />
        <link rel="icon" type="image/png" href="<%- static('favicons/favicon-32x32.png') %>" sizes="32x32" />
        <link rel="icon" type="image/png" href="<%- static('favicons/favicon-194x194.png') %>" sizes="194x194" />
        <link rel="icon" type="image/png" href="<%- static('favicons/android-chrome-192x192.png') %>" sizes="192x192" />
        <link rel="icon" type="image/png" href="<%- static('favicons/favicon-16x16.png') %>" sizes="16x16" />
        <link rel="shortcut icon" href="<%- static('favicons/favicon.ico') %>" />

        <!-- Manifests -->
        <link rel="manifest" href="<%- static('manifest.webmanifest') %>" />
        <meta name="msapplication-config" content="<%- static('browserconfig.xml') %>" />
    </head>
    <body>
        <div class="<%- getClassNames('centred') %>">
            <main>
